/* Общие стили кнопки */
.myButton {
  min-width: 150px;
  height: 40px;
  border: none;
  color: rgb(88, 0, 0);
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
  margin: 10px; /* Расстояние между кнопками */
}

/* Hover эффект для всех кнопок */
.myButton:hover {
  background-color: rgb(0, 243, 8);
  color: rgb(255, 255, 255);
}

/* Вариант bordered */
.myButton--bordered {
  color: rgb(88, 0, 0);
  background-color: rgb(255, 0, 128);
}

.myButton--bordered:hover {
  color: rgb(88, 0, 0);
  background-color: rgb(0, 243, 8);
}

/* Вариант primary */
.myButton--primary {
  border: none;
  color: rgb(88, 0, 0);
  background-color: rgb(0, 153, 255);
  border: 1px solid rgb(128, 0, 68);
}

.myButton--primary:hover {
  background-color: rgb(128, 0, 68);
  color: rgb(255, 255, 255);
}

/* Размеры кнопок */
.myButton--lg {
  height: 50px;
  width: 160px;
  padding: 15px 30px;
}

.myButton--md {
  height: 40px;
  width: 150px;
  padding: 10px 20px;
}

.myButton--sm {
  padding: 5px 10px;
  height: 30px;
  width: 150px;
}

/* Заблокированное состояние */
.myButton:disabled {
  background-color: rgb(200, 200, 200);
  color: rgb(120, 120, 120);
  cursor: not-allowed;
  border: none;
}
